<launch>
    <arg name="bag" />
    <param name="use_sim_time" value="true" />
    <node name="rosbag" pkg="rosbag" type="play" args="--clock $(arg bag)"/>
	<node name="projection" pkg="projection" type="projection.py" args="$(arg bag) $(find projection)/scripts/ost.yaml"/>
    <node name="rect_video_recorder" pkg="image_view" type="video_recorder">
        <remap from="image" to="/image_bbox"/>
    </node>
</launch>
