<launch>
    <arg name="data_DIR" default="/home/prerit/DiDi/Data" />
    <arg name="bag" />
    <arg name="rate" default="0.1" />
    <param name="use_sim_time" value="true" />
    <node name="rosbag" pkg="rosbag" type="play" args="-r $(arg rate) -l --clock $(arg data_DIR)/bags/$(arg bag).bag"/>
	<node name="velodyne" pkg="velodyne_pointcloud" type="cloud_node" args="">
        <param name="calibration" value="$(find velodyne_pointcloud)/params/32db.yaml" />
    </node>
	<node name="projection" pkg="projection" type="interact_tracklet.py" args="$(arg data_DIR)/bags/$(arg bag).bag $(arg data_DIR)/tracklets/$(arg bag).xml $(find projection)/scripts/ost_new.yaml"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find projection)/launch/config.rviz"  />
</launch>
