src/net/utility/__pycache__
*.pyc
src/net/processing/build/temp.linux-x86_64-3.5
.DS_Store
src/.idea
data/image_output
src/.ipynb_checkpoints
ros/.idea
utils/ros/.idea
utils/bag_to_kiiti/lidar/.idea
utils/bag_to_kiiti/lidar/.vscode-upload.json
utils/bag_to_kiiti/lidar/.vscode/c_cpp_properties.json
utils/bag_to_kitti/lidar/.vscode/settings.json
utils/bag_to_kitti/lidar/.idea
utils/bag_to_kitti/lidar/.vscode
utils/bag_to_kitti/lidar/build/*
utils/bag_to_kitti/lidar/cmake-build-debug
utils/bag_to_kitti/lidar/devel/lib/
utils/.vscode-upload.json
utils/.vscode

bag_to_kitti/lidar/.idea
bag_to_kitti/lidar/cmake-build-debug
.vscode-upload.json
.vscode
*.catkin_workspace
*.cmake
*.npy
*.png

\.idea/
\.project
data
